*{
    padding: 0px;
    margin: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4e4ba;
}

.container{
    min-height: 45vh;
    width: 40vh;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
}

form{
    margin: 2rem 0 1rem 0;
}

form select, button, input{
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    padding-left: 0.5rem;
    height: 3rem;
    font-size: 1rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    height: 1.5rem;
    margin-top: 1rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    height: 1rem;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    border: 1px solid lightgray;
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color: #af4d98;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}

.select-container img{
    border-radius: 14px;
    max-width: 2rem;
}